.envsrc/move/build
node_modules
rustcompiler/target
rustcompiler/Cargo.lock
fibonacci-prime/target
fibonacci-prime/Cargo.lock
walrus-storage/target
walrus-storage/Cargo.lock   
walrus-storage/node_modules
walrus-storage/.env

*.orc
